extends ./layouts/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7   
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie tincidunt metus, id convallis libero vehicula non. Etiam efficitur, ex et gravida tristique, ante augue feugiat sem, et rutrum dolor nisi nec sem. Fusce venenatis ligula non tellus volutpat, nec eleifend erat tincidunt. Mauris placerat tempor augue. Suspendisse et feugiat tortor. Fusce molestie auctor ex congue egestas. Phasellus neque tellus, interdum in sem sed, fringilla dictum erat.

                p Quisque pulvinar molestie arcu, sit amet varius augue varius ut. Nunc posuere iaculis odio, sit amet pellentesque justo pellentesque ac. Vestibulum vitae augue iaculis, commodo ipsum sed, posuere nibh. Nulla facilisi. In malesuada metus eu tellus dictum faucibus. Etiam pretium, enim eu elementum pretium, tellus odio elementum diam, in elementum velit risus eu nulla. Aenean in lacinia dui, a auctor risus. Etiam euismod nisi quam, nec malesuada lacus porttitor nec. Ut a odio erat.
    .listado-iconos 
        .container.mt-5.py-4.text-center    
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque pulvinar molestie arcu, sit amet varius augue varius ut. Nunc posuere iaculis odio, sit amet pellentesque justo pellentesque ac. Vestibulum vitae augue iaculis, commodo ipsum sed, posuere nibh. Nulla facilisi. In malesuada metus eu tellus dictum faucibus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Quisque pulvinar molestie arcu, sit amet varius augue varius ut. Nunc posuere iaculis odio, sit amet pellentesque justo pellentesque ac. Vestibulum vitae augue iaculis, commodo ipsum sed, posuere nibh. Nulla facilisi. In malesuada metus eu tellus dictum faucibus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Quisque pulvinar molestie arcu, sit amet varius augue varius ut. Nunc posuere iaculis odio, sit amet pellentesque justo pellentesque ac. Vestibulum vitae augue iaculis, commodo ipsum sed, posuere nibh. Nulla facilisi. In malesuada metus eu tellus dictum faucibus.
